<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8" />
  <title>
    St George Nue
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  <link rel="shortcut icon" href="/public/images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="/public/images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.18.3">
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body ">
  <header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <span class="govuk-header__logotype-text">
              <!-- GOV.UK -->
            </span>
          </span>
        </a>
      </div>
    </div>
  </header>
  <script id="__bs_script__">
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
  </script>
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

      <!-- content-->
      <!-- alpha -->

      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
            alpha
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      <!-- alpha -->

      <!-- breadcrumbs-->
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/hyb/registerorlogin">Register/Login</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Data entry</li>
        </li>

        </ol>
      </div>
      <!-- breadcrumbs-->

      <!-- grid start-->
      <div class="govuk-grid-row">

        <h1 class="govuk-heading-xl">Patient Data</h1>

        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-accordion" data-module="accordion" id="accordion-default">

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Data Entry
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="hyb/meddataentry">Medication</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="/hyb/offtimesdataentry">Offtimes</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="/hyb/dbsdataentry">DBS settings</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="/hyb/basicchecksdataentry">Temp, blood pressure, weight and heart rate</a>
                  </li>
                </ul>
              </div>
            </div>

          </div> <!-- end accrodion  -->

        </div>
        <!-- two third end -->

          <div class="govuk-grid-column-one-thirds">


          </div> <!-- one third end -->
      </div> <!-- end of row -->


      <!-- grid  finish-->



      <!-- content-->

    </main>
  </div>
  <!-- Javascript -->
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/extension-assets/govuk-frontend/all.js"></script>
  <script src="/public/javascripts/docs.js"></script>
  <script src="/public/javascripts/auto-store-data.js"></script>
  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        </div>
        <div class="govuk-footer__meta-item">
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
